#map {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#map > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	flex: 1;

}
#map > h1 {
	text-align: center;
	background: #A00;
	margin:0;
	color: #FFF;
}
#map > div > div {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.startPos {
	outline: 2px solid green;
	outline-offset: -2px;
}
.endPos {
	outline: 2px solid red;
	outline-offset: -2px;
}
div.step {
	border-radius: 1em;
	width: 2em;
	height: 2em;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
	background-color: rgba(200,0,0,0.5);
}

.height-0 {
	background: rgb(247, 252, 240)
}

.height-1 {
	background: rgb(224, 243, 219)
}

.height-2 {
	background: rgb(204, 235, 197)
}

.height-3 {
	background: rgb(168, 221, 181)
}

.height-4 {
	background: rgb(123, 204, 196)
}

.height-5 {
	background: rgb(78, 179, 211)
}

.height-6 {
	background: rgb(43, 140, 190)
}

.height-7 {
	background: rgb(8, 104, 172)
}

.height-8 {
	background: rgb(8, 64, 129)
}

.height-9 {
	background: rgb(8, 40, 100)
}

.height-10 {
	background: rgb(8, 20, 70)
}